<h2>Hi, <%= @opportunity_owner.first_name %></h2>

<p>
<%= @message.user.first_name %> sent you a message about your opportunity: <br>
<p><%= @opportunity.title %></p>
</p>

<p><%= @message.body %></>
<p>Reply to <%= @message.user.first_name %> email: <%=@message.user.email%>
To view your opportunity
<a href='http://localhost:8080/opportunities/<%=@opportunity.id%>'> click here </a> 


<p>
    Cheers, <br>
    Voluntr Team
</p>